* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* common */

body {
    background-color: rgb(246, 248, 249);
}

main {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
}

section {
    margin-top: 20px;
    margin-left: 15px;
    padding: 20px;
}



/* /common */


/* header */

.background {
    background-color: white;

}

#logo { 
    margin-left: 30px;
    vertical-align: middle;
    line-height: 100px;
}

.logo-text {
    font-size: 50px;
    font-weight: 800;
    margin-left: 5px;
    vertical-align: middle;
    line-height: 100px;
    
}

/* /header */


/* main */

.main-top {
    padding: 5px;
    margin-bottom: 1px solid grey;
    border-radius: 10px;
}

.task {
    background-color: rgb(71, 173, 241);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.section {
    display: inline-block;
    margin: 15px;
    background-color: white;
    color: grey;
    padding: 9px;
    border: 1px solid;
    border-radius: 5px;
}

.titolo {
    color: rgb(77, 81, 83)
}

.titolo h2 {
    margin-bottom: 5px;
}

.check{
    color: lightgreen;
    margin-right: 5px;
    background-color: white;
    border: 1px solid lightgreen;
    border-radius: 50%;
    padding: 3px;
}

.cross {
    color: red;
    margin-right: 5px;
    background-color: white;
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
}



.titolo p {
    margin: 20px;
}

.blue-bubble {
    background-color: rgb(71, 173, 241);
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}

.purple-bubble {
    background-color: rgb(156, 114, 228);
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}

.green-bubble {
    background-color: rgb(110, 192, 169);
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}

.orange-bubble {
    background-color: rgb(242, 158, 51);
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}

.pink-bubble {
    background-color: rgb(216, 99, 161);
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}

.pink-bubble {
    background-color: rgb(176, 201, 38);
    color: white;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}



/* /main */


